@model Project_Full_Stack_Developer.Models.Theater

@{
    ViewData["Title"] = "Delete";
}

<div class="contain">
    <div class="container">
        <h4>Delete Theater</h4>
        <div class="row">
            <div class="col">
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.NumberSeats)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.NumberSeats)
                </dd>
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.NumberRooms)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.NumberRooms)
                </dd>
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.Age)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.Age)
                </dd>
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.Adress)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.Adress)
                </dd>
            </div>
            <div class="col-4">
                <img src="@Model.imgPath" />
            </div>
        </div>
    
        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <a asp-action="Index">Back to List</a>
        </form>
    </div>
</div>