@model Project_Full_Stack_Developer.Models.Theater

@{
    ViewData["Title"] = "Details";
}
<div class="contain">
    <div>
        <h4>Details of Theater</h4>
        <hr />
        <dl class="row">
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.NumberSeats)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.NumberSeats)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.NumberRooms)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.NumberRooms)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Age)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Age)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Adress)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Adress)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
</div>