@model Project_Full_Stack_Developer.Models.Movie

@{
    ViewData["Title"] = "Details";
}


<div class="contain">
    <div class="container">
        <h4>Details of Movie</h4>
        
        
        <div class="row">
            <div class="col">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Title)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Title)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Description)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Description)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ReleaseDate)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ReleaseDate)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Oscars)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Oscars)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Category)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Category.Name)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Director)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Director.Name)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Prodution)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Prodution.Name)
                </dd>
            </div>
            <div class="col-6">
                <img src="@Model.imgPath" class="img-thumbnail " />
            </div>
        </div>
   
    
        <div>
            <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
</div>